.meses{ 
    width: 30%; 
    float: right;
    
    list-style: none;
}
.linha{
    font-weight: 700;
    margin: 0;
    float: left;
    list-style: none;
    border-bottom: 2px solid #dee2e6;
    width: 100%;
    padding: .75rem;
    vertical-align: top;
}
ul{
    border-top: 1px solid #dee2e6;
    margin: 0;
    padding: 0;
}
.janeiro{
    text-indent: 16px;
    padding-bottom: .80rem;
    padding-top: 10px;
    vertical-align: top;
    border-bottom: 1px solid #dee2e6;
}

.fevereiro{
    padding: .90rem;
    padding-top: 10px;
    vertical-align: top;
    border-bottom: 1px solid #dee2e6;
}
.negrito{
    font-weight: 700;
}







